body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    max-width: 100%;
    margin: 0;
    background: linear-gradient(to right, #eff14d, #f082cb);
    color: #ffffff;
}

template {
    display: none;
}

a {
    height: 20vh;
    width: 20vh;
    margin-top: 100px;
}


.button-grid {
    display: grid;
    height: 800px;
    grid-template-columns: repeat(5, 3fr);
    /* Adjust the number of columns as needed */
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    padding: 30px;
    padding-left: 90px;
}


.button-submit {
    width: 70px;
    height: 40px;
    padding: 10px;
    background-color: green;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: transform 0.3s ease;
}

.button-submit:hover {
    transform: scale(1.1);
}

.red_button {
    width: 30px;
    height: 30px;


}

.right_align {
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

button {
    display: block;
    width: 280px;
    height: 200px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    transition: all 0.1s ease;
}

button:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

div {

    max-width: 100%;
    max-height: fit-content;
}

.micromodal {
    display: none;
}

.micromodal.is-open {
    display: block;
}

.micromodal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
    z-index: 998;
    height: 100vh;

}

.micromodal__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: auto;
    max-width: 500px;
    max-height: 100vh;
    padding: 30px;
    background-color: #ac49e6;
    border-radius: 4px;
    z-index: 999;
}

.micromodal[aria-hidden="false"] .micromodal__overlay {
    animation: microModalFadeIn .2s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal[aria-hidden="false"] .micromodal__container {
    animation: microModalSlideIn .2s cubic-bezier(0, 0, .2, 1);
}

.micromodal .micromodal__container,
.micromodal .micromodal__overlay {
    will-change: transform;
}

@keyframes microModalFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 3;
    }
}

@keyframes microModalSlideIn {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}